<div class="container-fluid">
  <div class="row"> 
    <div class ="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <app-character-filter>

        </app-character-filter>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <app-character-filter-tags>        
          </app-character-filter-tags>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-12">
          <app-character-search>  
          </app-character-search>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
          <app-character-sort>
          </app-character-sort>
        </div>
      </div>  
      <app-character-list> 
      </app-character-list>

    </div>
  </div> 
</div>